header {
  margin: 0 auto 120px auto;
  max-width: 100%;
  height: 1084px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #fff 100%), url(../img/banner.png) no-repeat center;
  background-size: auto, cover;

  @media only screen and (max-width: 1200px){
    height: 775px;
    margin: 0 auto 10px auto;
  }

  section.nav-banner {

    .container {
      max-width: 1440px;
      margin: auto;

      .navigation {
        margin: 0 80px;
        padding-top: 41px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 1200px){
          display: none;
        }

        nav {

          ul {
            display: flex;
            gap: 64px;

            li {
              position: relative;

              a {
                font-family: 'Gilroy';
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                text-decoration: none;

                &:hover {
                  color: #e58411;
                }

                &:before {
                  content: '';
                  display: block;
                  width: 0;
                  height: 3px;
                  background: #e58411;
                  position: absolute;
                  bottom: -10px;
                  transition: 0.4s;
                }

                &:hover::before {
                  width: 100%;
                }
              }
            }
          }
        }

        .cart {
          position: relative;

          &:before {
            content: '0';
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 22px;
            left: 15px;
            background: #e58411;
            position: absolute;
            transition: 0.4s;
            border-radius: 100%;
            color: #ffffff;
          }

          &:hover::before {
            background: #fff;
            color: #e58411;
          }

          &:hover svg path {
            fill: #e58411;
            transition: fill 0.4s;
          }
        }
      }
    }
  }

  section.banner {
    display: grid;
    place-items: center;

    h1 {
      font-family: 'Gilroy';
      margin: 0;
      padding-top: 92px;
      font-weight: 400;
      font-size: 80px;
      line-height: 130%;
      letter-spacing: -0.01em;
      text-transform: capitalize;
      text-align: center;
      color: #fff;
      white-space: nowrap;

      @media only screen and (max-width: 1200px) {
        font-size: 45px;
      }

      @media only screen and (max-width: 768px){
        font-size: 30px;
      }
    }

    h3 {
      font-family: 'Gilroy';
      margin: 0;
      padding-top: 14px;
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: #fff;
      white-space: nowrap;

      @media only screen and (max-width: 1200px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 768px){
        font-size: 12px;
      }
    }

    form {
      padding-top: 45px;
      position: relative;

      input {
        font-family: 'Gilroy';
        border: 0.86px solid rgba(255, 255, 255, 0.6);
        border-radius: 42px;
        padding: 8px 8px 8px 20px;
        width: 344px;
        height: 56px;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #fff;
        backdrop-filter: blur(8px);
        background: rgba(255, 255, 255, 0.15);

        @media only screen and (max-width: 1200px) {
          width: 276px;
        }
      }

      button {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: absolute;
        top: 53px;
        left: 298px;
        border-radius: 24px;
        padding: 11px;
        width: 40px;
        height: 40px;
        background: #e58411;
        border: none;

        @media only screen and (max-width: 1200px) {
          left: 230px;
        }

        &:hover {
          transition: 0.4s;
          background: #fff;

          svg {
            path {
              stroke: #e58411;
            }
          }
        }
      }
    }
  }
}

