#xcontent-1:target ~ .tab-nav > [href="#content-1"],
#xcontent-2:target ~ .tab-nav > [href="#content-2"],
#xcontent-3:target ~ .tab-nav > [href="#content-3"] {
  background-color: #fff;
  color: #1e1e1e;
  cursor: default;
}

main section.choosing-us {
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 120px;
}
@media only screen and (max-width: 1200px) {
  main section.choosing-us {
    margin-bottom: 0;
  }
}
main section.choosing-us .container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 30px;
  padding: 0 80px;
}
@media only screen and (max-width: 1200px) {
  main section.choosing-us .container {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  main section.choosing-us .container {
    padding: 0 20px;
  }
}
main section.choosing-us .container h3 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 42px;
  color: #1e1e1e;
  white-space: nowrap;
  padding: 0 130px 0 0;
}
@media only screen and (max-width: 1200px) {
  main section.choosing-us .container h3 {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  main section.choosing-us .container h3 {
    padding: 25px 0;
  }
}
main section.choosing-us .container .choosing-us__content h4 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 24px;
  color: #1e1e1e;
  opacity: 0.9;
  margin-bottom: 18px;
}
@media only screen and (max-width: 768px) {
  main section.choosing-us .container .choosing-us__content h4 {
    padding: 4px 0;
  }
}
main section.choosing-us .container .choosing-us__content p {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
  color: #1e1e1e;
  opacity: 0.8;
  margin-bottom: 14px;
}
@media only screen and (max-width: 1200px) {
  main section.choosing-us .container .choosing-us__content p {
    margin-bottom: 10px;
  }
}
main section.choosing-us .container .choosing-us__content a {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #e58411;
  max-width: 121px;
  max-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  white-space: nowrap;
  text-decoration: none;
}
@media only screen and (max-width: 1200px) {
  main section.choosing-us .container .choosing-us__content a {
    margin-bottom: 40px;
  }
}
main section.choosing-us .container .choosing-us__content a:after {
  content: "";
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  display: block;
  width: 104px;
  height: 19px;
}
main section.choosing-us .container .choosing-us__content a:hover {
  text-decoration: underline;
}
main section.best-selling {
  max-width: 100%;
  background: #f7f7f7;
  margin-bottom: 20px;
}
main section.best-selling .container {
  max-width: 1440px;
  margin: auto;
}
main section.best-selling .container h3 {
  font-family: "Gilroy";
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  color: #1e1e1e;
  white-space: nowrap;
  padding-top: 50px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 1200px) {
  main section.best-selling .container h3 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  main section.best-selling .container h3 {
    font-size: 34px;
  }
}
main section.best-selling .container .tab {
  display: flex;
  flex-direction: column;
}
main section.best-selling .container .tab .tab-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  background: #eee;
  border-radius: 44px;
  padding: 6px;
  max-width: 348px;
  height: 57px;
  margin: 0 auto 80px auto;
}
@media only screen and (max-width: 1200px) {
  main section.best-selling .container .tab .tab-nav {
    max-width: 260px;
  }
}
main section.best-selling .container .tab .tab-nav a.active {
  background-color: #fff !important;
  color: #1e1e1e !important;
  cursor: default !important;
}
main section.best-selling .container .tab .tab-nav a.tab-link {
  font-family: "Gilroy";
  text-align: center;
  border-radius: 32px;
  padding: 4px;
  width: 84px;
  height: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
  display: block;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
main section.best-selling .container .tab .tab-nav a.tab-link:hover {
  background-color: white;
}
main section.best-selling .container .best-selling__content {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  margin-bottom: 60px;
}
main section.best-selling .container .best-selling__content:target {
  display: flex;
}
main section.best-selling .container .best-selling__content .owl-stage-outer .owl-stage .owl-item {
  display: flex;
  justify-content: center;
}
main section.best-selling .container .best-selling__content .owl-nav .owl-prev {
  position: absolute;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  transform: rotate(-180deg);
  border-radius: 26px;
  padding: 11px;
  width: 50px;
  height: 50px;
  right: 62px;
  bottom: 185px;
}
main section.best-selling .container .best-selling__content .owl-nav .owl-prev:before {
  content: "";
  background-image: url("../img/icons_form-next-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 48px;
  height: 26px;
}
main section.best-selling .container .best-selling__content .owl-nav .owl-prev:hover {
  transform: scale(1.1) rotate(-180deg);
  transition: transform 0.3s ease;
}
main section.best-selling .container .best-selling__content .owl-nav .owl-prev span {
  display: none;
}
main section.best-selling .container .best-selling__content .owl-nav .owl-next {
  position: absolute;
  left: 55px;
  bottom: 185px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  border-radius: 26px;
  padding: 11px;
  width: 50px;
  height: 50px;
}
main section.best-selling .container .best-selling__content .owl-nav .owl-next:before {
  content: "";
  background-image: url("../img/icons_form-next-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 48px;
  height: 26px;
}
main section.best-selling .container .best-selling__content .owl-nav .owl-next:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
main section.best-selling .container .best-selling__content .owl-nav .owl-next span {
  display: none;
}
main section.best-selling .container .best-selling__content .best-selling___item {
  border-radius: 20px;
  background-color: #fff;
  max-width: 217px;
}
main section.best-selling .container .best-selling__content .best-selling___item img {
  margin-bottom: 14px;
  display: inline-block;
  background-color: #fafafa;
  max-width: 217px;
  max-height: 255px;
}
main section.best-selling .container .best-selling__content .best-selling___item img.stars {
  background-color: transparent;
  max-width: 103px;
  max-height: 19px;
  padding-left: 22px;
}
main section.best-selling .container .best-selling__content .best-selling___item h5 {
  font-family: "Gilroy";
  padding-left: 22px;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 16px;
  color: #8d8d8d;
}
main section.best-selling .container .best-selling__content .best-selling___item h4 {
  font-family: "Gilroy";
  padding-left: 22px;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 21px;
  color: #0d1b39;
}
main section.best-selling .container .best-selling__content .best-selling___item svg.stars-svg {
  margin-left: 20px;
  margin-bottom: 37px;
}
main section.best-selling .container .best-selling__content .best-selling___item article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 21px 20px 21px;
}
main section.best-selling .container .best-selling__content .best-selling___item article p {
  padding-left: 12px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 21px;
  color: #0d1b39;
}
@media only screen and (max-width: 768px) {
  main section.best-selling .container .best-selling__content .best-selling___item article p {
    padding-bottom: 1px;
  }
}
main section.best-selling .container .best-selling__content .best-selling___item article p span {
  position: absolute;
  font-weight: 600;
  font-size: 15px;
  color: #0d1b39;
  left: 21px;
}
@media only screen and (max-width: 768px) {
  main section.best-selling .container .best-selling__content .best-selling___item article p span {
    padding: 1px 0;
  }
}
main section.best-selling .container .best-selling__content .best-selling___item article a.plus {
  font-family: "Gilroy";
  border-radius: 31px;
  width: 48px;
  height: 48px;
  background: #0d1b39;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
}
main section.best-selling .container .best-selling__content .best-selling___item article a.plus:hover {
  background: #e58411;
  transition: 0.4s;
}
@media only screen and (max-width: 768px) {
  main section.best-selling .container .best-selling__content .best-selling___item article a.plus {
    overflow-y: hidden;
  }
}
main section.best-selling .container a.view-all {
  font-family: "Gilroy";
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  max-width: 123px;
  max-height: 33px;
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #e58411;
  text-decoration: none;
  white-space: nowrap;
}
main section.best-selling .container a.view-all:after {
  content: "";
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  display: block;
  width: 104px;
  height: 19px;
}
main section.best-selling .container a.view-all:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  main section.best-selling .container a.view-all {
    margin-bottom: 16px;
    padding: 0;
  }
}
main section.experiences {
  max-width: 1440px;
  margin: 0 auto 120px auto;
}
@media only screen and (max-width: 1200px) {
  main section.experiences {
    margin: 0 auto 60px auto;
  }
}
main section.experiences .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  main section.experiences .container {
    justify-content: space-around;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  main section.experiences .container {
    flex-direction: unset;
  }
}
main section.experiences .container img {
  max-width: 728px;
  max-height: 541px;
}
main section.experiences .container .experiences-content h4 {
  font-family: "Gilroy";
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #e58411;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  main section.experiences .container .experiences-content h4 {
    font-size: 14px;
    overflow-y: hidden;
  }
}
main section.experiences .container .experiences-content h2 {
  font-family: "Gilroy";
  white-space: nowrap;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  color: #1e1e1e;
}
@media only screen and (max-width: 768px) {
  main section.experiences .container .experiences-content h2 {
    font-size: 27px;
    overflow-y: hidden;
  }
}
main section.experiences .container .experiences-content p {
  font-family: "Gilroy";
  white-space: nowrap;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
}
@media only screen and (max-width: 768px) {
  main section.experiences .container .experiences-content p {
    font-size: 12px;
  }
}
main section.experiences .container .experiences-content a {
  font-family: "Gilroy";
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #e58411;
  max-width: 121px;
  max-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  white-space: nowrap;
}
main section.experiences .container .experiences-content a:after {
  content: "";
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  display: block;
  width: 104px;
  height: 19px;
}
main section.experiences .container .experiences-content a:hover {
  text-decoration: underline;
}
main section.materials {
  max-width: 1440px;
  margin: 0 auto 120px auto;
}
main section.materials .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  main section.materials .container {
    justify-content: space-around;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 768px) {
  main section.materials .container {
    flex-direction: unset;
  }
}
main section.materials .container img {
  max-width: 932px;
  max-height: 614px;
}
main section.materials .container .materials-content h4 {
  font-family: "Gilroy";
  white-space: nowrap;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #e58411;
}
@media only screen and (max-width: 768px) {
  main section.materials .container .materials-content h4 {
    font-size: 14px;
    overflow-y: hidden;
  }
}
main section.materials .container .materials-content h2 {
  font-family: "Gilroy";
  white-space: nowrap;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  color: #1e1e1e;
}
@media only screen and (max-width: 768px) {
  main section.materials .container .materials-content h2 {
    font-size: 27px;
    overflow-y: hidden;
  }
}
main section.materials .container .materials-content p {
  font-family: "Gilroy";
  white-space: nowrap;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
}
@media only screen and (max-width: 768px) {
  main section.materials .container .materials-content p {
    font-size: 12px;
  }
}
main section.materials .container .materials-content a {
  font-family: "Gilroy";
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #e58411;
  max-width: 121px;
  max-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  white-space: nowrap;
}
main section.materials .container .materials-content a:after {
  content: "";
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  display: block;
  width: 104px;
  height: 19px;
}
main section.materials .container .materials-content a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  main section.materials .container .materials-content a {
    margin-bottom: 25px;
  }
}
main section.testimonials {
  max-width: 1440px;
  margin: 0 auto 120px auto;
}
main section.testimonials .container h4 {
  font-family: "Gilroy";
  white-space: nowrap;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #e58411;
  margin-bottom: 20px;
}
main section.testimonials .container h2 {
  font-family: "Gilroy";
  white-space: nowrap;
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 60px;
}
main section.testimonials .container .testimonials__content .owl-stage-outer .owl-stage .owl-item {
  display: flex;
  justify-content: center;
}
main section.testimonials .container .testimonials__content .owl-nav .owl-prev {
  position: absolute;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  border-radius: 26px;
  padding: 11px;
  width: 50px;
  height: 50px;
  left: 47px;
  top: 136px;
}
main section.testimonials .container .testimonials__content .owl-nav .owl-prev:before {
  content: "";
  background-image: url("../img/icons_form-next-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 48px;
  height: 26px;
}
main section.testimonials .container .testimonials__content .owl-nav .owl-prev:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
main section.testimonials .container .testimonials__content .owl-nav .owl-prev span {
  display: none;
}
main section.testimonials .container .testimonials__content .owl-nav .owl-next {
  transform: rotate(-180deg);
  position: absolute;
  right: 47px;
  top: 136px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  border-radius: 26px;
  padding: 11px;
  width: 50px;
  height: 50px;
}
main section.testimonials .container .testimonials__content .owl-nav .owl-next:before {
  content: "";
  background-image: url("../img/icons_form-next-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 48px;
  height: 26px;
}
main section.testimonials .container .testimonials__content .owl-nav .owl-next:hover {
  transform: scale(1.1) rotate(-180deg);
  transition: transform 0.3s ease;
}
main section.testimonials .container .testimonials__content .owl-nav .owl-next span {
  display: none;
}
main section.testimonials .container .testimonials__content .testimonials___item {
  position: relative;
}
main section.testimonials .container .testimonials__content .testimonials___item img.background {
  max-width: 370px;
  max-height: 506px;
}
main section.testimonials .container .testimonials__content .testimonials___item img.reviews {
  position: absolute;
  bottom: 88px;
  padding: 0 30px;
}
main section.testimonials .container .testimonials__content .testimonials___item img.reviewer {
  position: absolute;
  bottom: 244px;
  left: 154px;
  max-width: 60px;
  max-height: 65px;
}
main section.testimonials .container .testimonials__content .testimonials___item article {
  position: absolute;
  bottom: 126px;
}
main section.testimonials .container .testimonials__content .testimonials___item article h3 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  color: #1e1e1e;
  white-space: nowrap;
  margin-bottom: 6px;
}
main section.testimonials .container .testimonials__content .testimonials___item article h5 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #1e1e1e;
  white-space: nowrap;
  margin-bottom: 22px;
}
main section.testimonials .container .testimonials__content .testimonials___item article p {
  font-family: "Gilroy";
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #1e1e1e;
  padding: 0 50px;
}
main section.testimonials .container .testimonials__content .testimonials___item article img {
  width: 90px;
  height: 14px;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
